<div class="container mt-5">

    <div *ngIf="errormsg" class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{errormsg}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    
    <div *ngIf="successmsg" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{successmsg}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    
    <form [formGroup]="userForm">
        <div class="col-lg-4 mt-2">
            <input type="text" class="form-control" formControlName="ProductName" placeholder="Enter Product Name">
        </div>
        <div class="col-lg-4 mt-2">
            <input type="text" class="form-control" formControlName="CategoryId" placeholder="Enter Category Id">
        </div>
        <div class="col-lg-4 mt-2">
            <input type="text" class="form-control" formControlName="CategoryName" placeholder="Enter Category Name">
        </div>
        <div class="col-lg-4 mt-2" *ngIf="!getparamid" (click)="userSubmit()">
            <button class="btn btn-primary btn-sm">Create</button>
        </div>
        <div class="col-lg-4 mt-2" *ngIf="getparamid" (click)="userUpdate()">
            <button class="btn btn-warning btn-sm">Update</button>
        </div>
    </form>
</div>